{#
/**
 * @file
 * Secondary Navigation Template
 *
 * A sidebar style navigation.
 *
 * Available variables:
 * - attributes: For additional HTML attributes not already provided.
 * - modifier_class: Additional css classes to change look and behaviour of the component.
 * - toggle_modifier_class: Additional css classes to change look and behaviour of the toggle.
 * - aria_label: Aria label for the <nav> element. Default is "main menu". If there are multiple instances of the component on the same page, use a different aria_label for each instance.
 *
 */
#}

{% set attributes = attributes.addClass(['su-secondary-nav--light', 'su-secondary-nav', 'su-secondary-nav--static', 'no-js']) %}
{% set attributes = attributes.setAttribute('aria-label', aria_label|default('secondary menu')) %}
{# Macros #}
{%- import "@basic/menus/macros/secondary-nav-menu.twig" as menus -%}
<a href="#main-content" class="visually-hidden focusable su-skipnav su-skipnav--content">{{ 'Skip to main content'|t }}</a>
<nav{{ attributes }}>
  <div id="secondary-navigation" tabindex="-1" class="visually-hidden focusable">{{ 'Secondary Navigation'|t }}</div>
  {% spaceless %}
  {% if items is iterable %}
    {{ menus.secondary_nav_menu(items, 1, 'su-secondary-nav') }}
  {% else %}
    {# If custom markup is provided, emit it as is #}
    {{ items }}
  {% endif %}
  {% endspaceless %}
</nav>
