{#
/**
 * Macro for creating nested menus.
 */
#}

{% macro main_nav_menu(items, menu_level) %}
  {% import _self as menus %}
  <ul class="su-main-nav__menu-lv{{ menu_level }}">
  {% for item in items %}
    {% set is_parent = item.below is empty ? false : true %}
    {% set list_classes = "" %}
    {% if is_parent %}
      {% set list_classes = list_classes ~ "su-main-nav__item--parent " %}
    {% endif %}
    {% if item.in_active_trail %}
      {% set list_classes = list_classes ~ "su-main-nav__item--current " %}
    {% endif %}

    <li class="{{ list_classes|trim }}">
      {% if item.attributes  %}
        {% set the_attrs = item.attributes %}
      {% endif %}

      <a href="{{ item.url }}" {{ the_attrs }}>{{ item.title }}</a>
      {% if item.below %}
        {{ menus.main_nav_menu(item.below, menu_level + 1) }}
      {% endif %}
    </li>

  {% endfor %}
  </ul>
{% endmacro %}
