{# Create classes array. The 'node' class is required for contextual edit links. #}
{% set node_classes = ['node'] %}
{% set node_classes = node_classes|merge([
  node.type ? node.type.entity.label|clean_class,
  view_mode ? 'node--layout-' ~ view_mode|clean_class
]) %}
{% set title_classes = [ node.bundle|clean_class ~ '__title'] %}
{% set attributes = attributes.addClass(node_classes) %}
{% set attributes = attributes.removeAttribute('role') %}
<article{{ attributes }}>

  {% if title_prefix or title_suffix or display_submitted or unpublished or page is empty and label %}
    <header>
      {{ title_prefix }}
      {% if not page and label %}
        <h2{{ title_attributes.addClass(title_classes) }}>
          <a href="{{ url }}" rel="bookmark">{{ label }}</a>
        </h2>
      {% endif %}
      {{ title_suffix }}

      {% if display_submitted %}
        <div class="submitted">
          {{ author_picture }}
          {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
          {{ metadata }}
        </div>
      {% endif %}

      {% if not node.published %}
        <p class="node--unpublished">{{ 'Unpublished'|t }}</p>
      {% endif %}
    </header>
  {% endif %}

  <div{{ content_attributes.addClass('content') }}>
    {{ content|without('links') }}
  </div><!-- /.content -->

  {% if content.links %}
    <div class="links">
      {{ content.links }}
    </div><!-- /.links -->
  {% endif %}

</article><!-- /.node -->
