{% include "@basic/decanter/components/brand-bar/brand-bar.twig" with { modifier_class : brand_bar_variant } %}

{% if page.help %}
  {{ page.help }}
{% endif %}

<header class="su-masthead">
  <section>
  {% if page.header %}
    {{ page.header }}
  {% endif %}
  {% if page.search %}
    {{ page.search }}
  {% endif %}
  {% if page.menu %}
    {{ page.menu }}
  {% endif %}
  </section>
</header>

<div>
  <a name="main-content" id="main-content" tabindex="-1" class="visually-hidden focusable">main content</a>
  {{ page.content }}
</div>

<footer id="footer">
  {{ page.footer }}
  {% include "@basic/decanter/components/global-footer/global-footer.twig" %}
</div>
