{% if page.help %}
  {{ page.help }}
{% endif %}

<header class="su-global-header">
  <div>
    {% if page.header %}
      {{ page.header }}
    {% endif %}

    {% if page.search %}
      {{ page.search }}
    {% endif %}

    {% if page.menu %}
      {{ page.menu }}
    {% endif %}
  </div>
</header>

{{ page.content }}

{% if page.footer %}
  {{ page.footer }}
{% endif %}
