{% include "@basic-dist/decanter/components/brand-bar/brand-bar.twig" with { modifier_class : brand_bar_variant } %}

{% if page.help %}
  {{ page.help }}
{% endif %}

<header class="su-masthead su-masthead--right su-masthead--mobile-search">
  <section>
  {% if page.header %}
    {{ page.header }}
  {% endif %}
  {% if page.search %}
    {{ page.search }}
  {% endif %}

  {% if page.menu %}
    {{ page.menu }}
  {% endif %}
  </section>
</header>

<div id="main-content">
  {{ page.content }}
</div>

<footer id="footer">
  {{ page.footer }}
  {% include "@basic-dist/decanter/components/global-footer/global-footer.twig" %}
</div>
