{% block brandbar %}
  {%- include "@basic-dist/decanter/components/brand-bar/brand-bar.twig" with { modifier_class : brand_bar_variant } -%}
{% endblock %}

{% block help %}
  {%- if page.help -%}
    {{ page.help }}
  {%- endif -%}
{% endblock %}

<header class="su-masthead su-masthead--right">
  {% block header %}
    <section>
      {%- if page.header -%}
        {{ page.header }}
      {%- endif -%}
      {%- if page.search -%}
        {{ page.search }}
      {%- endif -%}
      {%- if page.menu -%}
        {{ page.menu }}
      {%- endif -%}
    </section>
  {% endblock %}
</header>

<main class="page-content" id="page-content">
  {% block main %}
    {{ page.content }}
  {% endblock %}
</main>

<footer id="footer">
  {% block footer %}
    {{ page.footer }}
    {%- include "@basic-dist/decanter/components/global-footer/global-footer.twig" -%}
  {% endblock %}
</footer>
