{% if page.help %}
  {{ page.help }}
{% endif %}

<header class="su-masthead">
  <div class="su-masthead__wrapper">
    {% if page.header %}
      {{ page.header }}
    {% endif %}

    {% if page.search %}
      {{ page.search }}
    {% endif %}

    {% if page.menu %}
      {{ page.menu }}
    {% endif %}
  </div>
</header>
<div id="main-content">
  {{ page.content }}
</div>

{% if page.footer %}
  <div id="footer">
    {{ page.footer }}
  </div>
{% endif %}
