{% block brandbar %}
  {%- include "@basic-dist/decanter/components/brand-bar/brand-bar.twig" with { modifier_class : brand_bar_variant } -%}
{% endblock %}

{% block help %}
  {%- if page.help -%}
    {{ page.help }}
  {%- endif -%}
{% endblock %}

{% block header %}
  <header class="su-masthead su-masthead--right">
    {% block headerContent %}
    <section>
    {%- if page.header -%}
      {{ page.header }}
    {%- endif -%}
    {%- if page.search -%}
      {{ page.search }}
    {%- endif -%}
    {%- if page.menu -%}
      {{ page.menu }}
    {%- endif -%}
    </section>
    {% endblock %}
  </header>
{% endblock %}

{% block main %}
  <main class="page-content" id="page-content">
    {% block pageContent %}
      {{ page.content }}
    {% endblock %}
  </main>
{% endblock %}

{% block footer %}
  <footer id="footer">
    {% block footerContent %}
      {{ page.footer }}
      {%- include "@basic-dist/decanter/components/global-footer/global-footer.twig" -%}
    {% endblock %}
  </footer>
{% endblock %}
