{% if page.help %}
  {{ page.help }}
{% endif %}

<header class="su-masthead">
  <section>
  {% if page.header %}
    {{ page.header }}
  {% endif %}

  {% if page.search %}
    {{ page.search }}
  {% endif %}
  {% if page.menu %}
    {{ page.menu }}
  {% endif %}
  </section>
</header>
<div id="main-content">
  {{ page.content }}
</div>

{% if page.footer %}
  <div id="footer">
    {{ page.footer }}
  </div>
{% endif %}
