{#
/**
 * @file
 * Default theme implementation for the basic structure of the global stanford footer
 */
#}
<section id="footer__global-footer">
  <div class="decanter-grid">
    <div id="global-footer__brand">
      <object data="/{{ stanford_basic_path }}/assets/svg/su_sig_stack_linked.svg" width="120" height="56">Stanford University Logo</object>
    </div>
    <nav id="global-footer__nav" role="navigation">
      <ul id="global-links">
        <li><a href="https://www.stanford.edu">{{ 'Stanford Home'|t }}</a></li>
        <li><a href="https://visit.stanford.edu/plan/">{{ 'Maps & Directions'|t }}</a></li>
        <li><a href="https://www.stanford.edu/search/">{{ 'Search Stanford'|t }}</a></li>
        <li><a href="https://emergency.stanford.edu">{{ 'Emergency Info'|t }}</a></li>
      </ul>
      <ul id="global-policy-links">
        <li><a href="https://www.stanford.edu/site/terms/" title="{{ 'Terms of use for sites'|t }}">{{ 'Terms of Use'|t }}</a></li>
        <li><a href="https://www.stanford.edu/site/privacy/" title="{{ 'Privacy and cookie policy'|t }}">{{ 'Privacy'|t }}</a></li>
        <li><a href="https://uit.stanford.edu/security/copyright-infringement" title="{{ 'Report alleged copyright infringement'|t }}">{{ 'Copyright'|t }}</a></li>
        <li><a href="https://adminguide.stanford.edu/chapter-1/subchapter-5/policy-1-5-4" title="{{ 'Ownership and use of Stanford trademarks and images'|t }}">{{ 'Trademarks'|t }}</a></li>
        <li><a href="http://exploredegrees.stanford.edu/nonacademicregulations/nondiscrimination/" title="{{ 'Non-discrimination policy'|t }}">{{ 'Non-Discrimination'|t }}</a></li>
        <li><a href="https://www.stanford.edu/site/accessibility" title="{{ 'Report web accessibility issues'|t }}">{{ 'Accessibility'|t }}</a></li>
      </ul>
    </nav>
    <div id="global-footer__info">
      <p class="vcard">
        ©
        <span class="fn org">Stanford University</span>.
        <span class="adr">
          <span class="locality">Stanford</span>,
          <span class="region">California</span>
          <span class="postal-code">94305</span>.
        </span>
      </p>
    </div>
  </div>
</section>
